<p id="notice"><%= notice %></p>

<h1>Listing Desserts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desserts.each do |dessert| %>
      <tr>
        <td><%= dessert.name %></td>
        <td><%= link_to 'Show', dessert %></td>
        <td><%= link_to 'Edit', edit_dessert_path(dessert) %></td>
        <td><%= link_to 'Destroy', dessert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dessert', new_dessert_path %>
