<!DOCTYPE html>
<html ng-app="bakery">
<head>
  <title>Bakery</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='background'>
<%= link_to(image_tag("tatianaslogo.png", :width => 240, :height => 144), root_path) %>
<div class='admin_options'>
  <%if session[:user]%>
    <%=link_to 'log out', session_path(session[:user]), method: :delete%></br>
    <%=link_to 'admin page', admin_desserts_path(session[:user])%>
  <%end%>
</div>
<div class='container' ng-view>
  <%= yield %>
</div>

</body>
</html>
